.page-not-found {
	background-color: grey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.page-not-found h1 {
	font-size: 15rem;
}

@media screen and (max-width: 768px) {
	.page-not-found h1 {
		font-size: 10rem;
	}
}
