.proposals .widgets {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}
.proposals .proposal-list .proposal-link {
	text-decoration: none;
	color: inherit;
}

.proposals .widgets .widget h1.purple {
	color: var(--color-primary);
}

.proposals .widgets .widget h1 {
	font-size: 3rem;
}

.proposals .new-proposal {
	width: 60%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

.proposals .new-proposal form {
	padding-top: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}

.proposals .new-proposal form textarea {
	outline: none;
	border: 2px solid #ccc;
	border-radius: 0.5rem;
	background-color: #f8f8f8;
	padding: 1rem;
	resize: none;
}

@media screen and (max-width: 1024px) {
	.proposals .new-proposal {
		width: 100%;
		padding: 1rem;
	}
	.proposals .new-proposal form textarea {
		width: 100%;
	}
}

@media screen and (max-width: 680px) {
	/* .proposals .widgets {
		flex-direction: column;
	} */

	.proposals .widgets .widget h1 {
		font-size: 1rem;
	}

	.proposals .widgets .widget h3 {
		font-size: 0.7rem;
	}

	.proposals .widgets .widget {
		padding: 1.2rem;
		border-radius: 1rem;
		margin-bottom: 0.5rem;
	}
}
